<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>在线脚本任务管理</title>
    <!-- <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.9/vue.js"></script> -->
    <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.9/vue.min.js"></script>
    <script src="/static/taskHelper.js"></script>

</head>

<body>
    <div id="msgBox" style="position: absolute; 
                            width:calc(100% - 36px);
                            text-align: center;
                            font-size: large;
                            transition: all 300ms ease;
                            padding: 10px;
                            background-color: #a7d2ede6;
                            opacity: 0;">
        xxx
    </div>
    <div class="Col" id="app">

        <div class="row" style="margin-bottom: 20px;
                                font-size: x-large;
                                color: rgb(67, 121, 222);
                                font-weight: bold;">任务管理</div>
        <div class="row">
            <div class="column" style="margin-right: 10px;">
                <div class="row"><strong>添加任务</strong></div>
                <div class="row">
                    <div class="container">
                        <input v-model="pendingTask.title" type="text" name="title" id="title" placeholder="标题">
                    </div>
                    <div class="container" style="flex: 0;">
                        <select v-model="pendingTask.scriptType" name="select" id="type">
                            <option value='0'>Python</option>
                            <option value='1'>Bash</option>
                        </select>
                    </div>
                </div>
                <div class="container">
                    <textarea v-model="pendingTask.scriptCode" placeholder="脚本代码" name="t" id="scriptCode" cols="30"
                        rows="20" style="font-family: Consolas, '微软雅黑';"></textarea>
                </div>
                <div class="row" style="align-items: center;">
                    <span>执行间隔秒数：</span>
                    <div class="container">
                        <input v-model="pendingTask.interval" type="number" name="interval" id="interval">
                    </div>
                </div>
                <div class="row" style="align-items: center;">
                    <span>最大执行次数：</span>
                    <div class="container">
                        <input v-model="pendingTask.maxTimes" type="number" name="interval" id="maxTimes">
                    </div>
                </div>
                <div class="container">
                    <button v-on:click="createTask()">添加</button>
                </div>
            </div>
            <div class="column" style="margin-left: 10px;">
                <div class="container"><strong>任务列表</strong></div>
                <div class="list-item" v-for="task in taskList">
                    <div class="container" style="cursor: pointer;" v-on:click="onTaskClick(task.id)">
                        {{ task.title }}
                    </div>
                    <div class="container" nogrow>
                        {{ makeTaskStatus(task) }}
                    </div>
                    <div class="container" nogrow>{{ task.interval }}</div>
                    <div class="container" nogrow>
                        <button v-on:click="task.status == 0 ? startTask(task.id): stopTask(task.id)">
                            {{ task.status == 0? "启动": "停止" }}
                        </button>
                    </div>
                    <div class="container" nogrow>
                        <button v-on:click="deleteTask(task.id)">删除</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="text-align: center;margin: 10px;">
        <a style="text-decoration: none; color:green;" target="_blank"
            href="https://github.com/EricJeffrey/online_scriptor">online_scriptor</a>
    </div>
    <!-- Utils -->
    <script>
        function showMsg(msg, red) {
            let msgBox = document.getElementById("msgBox");
            msgBox.innerText = msg;
            if (red) msgBox.style.color = "red";
            else msgBox.style.color = "green";
            msgBox.style.opacity = 1;
            setTimeout(() => {
                msgBox.style.opacity = 0;
            }, 2000);
        }
    </script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                pendingTask: {
                    title: "未命名任务",
                    scriptCode: "",
                    scriptType: '0',
                    interval: -1,
                    maxTimes: 1
                },
                taskList: [
                ],

                makeTaskStatus: function (task) {
                    console.log
                    let res = "";
                    if (task.status == 0) {
                        res += "未运行";
                        if (task.exitTimeStamp != 0) {
                            res += "，退出时间: " + (new Date(task.exitTimeStamp * 1000)).toLocaleString() + "，退出码: " + task.exitCode;
                        }
                    } else {
                        res += "正在运行，PID: " + task.pid;
                    }
                    return res;
                },

                onTaskClick: function (taskId) {
                    window.open("/static/task.html?taskId=" + taskId, "_blank");
                },
                startTask: function (taskId) {
                    TaskHelper.startTask(taskId)
                        .then((res) => {
                            if (res.status != 0) showMsg(TaskHelper.CmdResType2Str[res.status], true);
                            else showMsg("任务启动成功");
                            this.getAllTask();
                        })
                        .catch((reason) => {
                            showMsg("任务启动失败: " + reason, true);
                            this.getAllTask();
                        });
                },
                stopTask: function (taskId) {
                    TaskHelper.stopTask(taskId)
                        .then((res) => {
                            if (res.status != 0) showMsg(TaskHelper.CmdResType2Str[res.status], true);
                            else showMsg("任务已停止");
                            this.getAllTask();
                        })
                        .catch((reason) => {
                            showMsg("停止任务失败: " + reason, true);
                            this.getAllTask();
                        });

                },
                deleteTask: function (taskId) {
                    if (confirm("该操作会停止并移除任务，确认继续？"))
                        TaskHelper.deleteTask(taskId)
                            .then((res) => {
                                if (res.status != 0) showMsg(TaskHelper.CmdResType2Str[res.status], true);
                                else showMsg("任务已删除");
                                this.getAllTask();
                            })
                            .catch((reason) => {
                                showMsg("删除任务失败: " + reason, true);
                                this.getAllTask();
                            });
                },
                createTask: function () {
                    if (this.pendingTask.title.length <= 0 || this.pendingTask.scriptCode.length <= 0) {
                        showMsg("标题和内容不能为空");
                        return;
                    }
                    TaskHelper.createTask(
                        this.pendingTask.title,
                        this.pendingTask.scriptCode,
                        Number.parseInt(this.pendingTask.scriptType),
                        Number.parseInt(this.pendingTask.interval),
                        Number.parseInt(this.pendingTask.maxTimes)
                    ).then((res) => {
                        if (res.status != 0) showMsg(TaskHelper.CmdResType2Str[res.status], true);
                        else showMsg("任务创建成功，id: " + res.taskId);
                        this.getAllTask();
                    }).catch((reason) => {
                        showMsg("创建任务失败: " + reason, true)
                    })
                },
                getAllTask: function () {
                    TaskHelper.getAllTask()
                        .then((res) => {
                            this.taskList = res.taskList.sort((a, b) => {
                                return a.id > b.id
                            });
                        })
                        .catch((reason) => {
                            showMsg("获取任务列表失败: " + reason, true);
                        });

                },
            },
            created: function () {
                this.getAllTask();
                setInterval(() => {
                    this.getAllTask();
                }, 5000);
            }
        });
    </script>
</body>

</html>